#wrap{
    min-width: 1280px;
    max-width: 1920px;
}
#main{
    width: 100%;
    background: url("../images/bg-2.jpg") no-repeat center -56px #f9faff;
}
a{
    outline: none;
}
.logo{
    position: absolute;
    left: 134px;
    top: 24px;
}
.gotoTop{
    position: fixed;
    right: 50px;
    bottom: 100px;
    cursor: pointer;
    display: none;
    z-index: 3;
}
.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.share-container{
    position: absolute;
    right: 281px;
    top: 38px;
}
.share-container a{
    color: #999999;
    font-size: 12px;
    width: 54px;
    height: 12px;
    line-height: 12px;
    display: block;
    text-decoration: none;
    float: left;
    text-align: center;
}
.share-container a:hover{
    color: #ffffff;
}
.line{
    height: 12px;
    width: 0;
    border-left: 1px solid #999;
    float: left;
}
.title{
    margin: 0 auto;
    display: block;
    padding-top: 335px;
}
.nav{
    width: 100%;
    position: absolute;
    left: 0;
    height: 105px;
    background: url("../images/nav-bg.png") no-repeat center 0;
    text-align: center;
    top: 619px;
    z-index: 2;
}
.nav-cont{
    margin: 0 auto;
    width: 813px;
}
.nav-cont a{
    height: 105px;
    display: block;
    float: left;
}
.nav-manhua{
    width: 255px;
    background: url("../images/nav.png") no-repeat 0 0;
}
.nav-chahua{
    width: 233px;
    background: url("../images/nav.png") no-repeat -255px 0;
}
.nav-ziliao{
    width: 325px;
    background: url("../images/nav.png") no-repeat -488px 0;
}
.link-cont{
    width: 750px;
    height: 50px;
    margin: 140px auto 0;
}
.link-cont a{
    margin-left: 30px;
    float: left;
    width: 120px;
    height: 44px;
    display: block;
}
.guize{
    background: url("../images/link.png") no-repeat 0 0;
}
.guize:hover{
    background: url("../images/link.png") no-repeat 0 -44px;
}
.jieshao{
    background: url("../images/link.png") no-repeat -120px 0;
}
.jieshao:hover{
    background: url("../images/link.png") no-repeat -120px -44px;
}
.canyu{
    background: url("../images/link.png") no-repeat -240px 0;
}
.canyu:hover{
    background: url("../images/link.png") no-repeat -240px -44px;
}
.wenti{
     background: url("../images/link.png") no-repeat -360px 0;
}
.wenti:hover{
     background: url("../images/link.png") no-repeat -360px -44px;
}
.shouye{
    background: url("../images/link.png") no-repeat -480px 0;
}
.shouye:hover{
    background: url("../images/link.png") no-repeat -480px -44px;
}
/*内容*/
.content{
    width: 835px;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
}
.content-jp>h1{
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #1f8cd1;
    text-align: center;
}
.cont{
    margin-top: 50px;
    position: relative;
}
.cont h2{
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    color: #1f8cd1;
}
.title-logo{
    position: absolute;
    left: -38px;
    top: 2px;
}
.picArea{
    position: relative;
    margin: 10px 0;
    text-align: center;
}
.picArea img{
    width: 835px;
    height: 300px;
}
.picArea h4{
    color: #454545;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    line-height: 14px;
    left: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
}
.text{
    margin: 10px 0;
    text-align: left;
}
.text p{
    font-size: 14px;
    line-height: 14px;
    padding-top: 12px;
}
.text .blue{
    color: #1f8cd1;
}
#footer{
    background-color: #21252f;
}
#NIE-copyRight{
    padding: 20px;
    color: #ffffff;
}
#NIE-copyRight a{
    color: #ffffff;
}
/*作品详情*/
.a-cont{
    width: 821px;
    margin: 0 auto;
    height: 35px;
}
.a-cont a{
    width: 132px;
    height: 35px;
    background-color: #1f8cd1;
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    display: block;
    margin-left: 9px;
    float: right;
    text-align: center;
    text-decoration: none;
}
.content-xq img{
    margin: 10px auto;
    display: block;
}
.detail{
    width: 784px;
    margin: 0 auto;
    padding: 26px 18px 36px;
    background-color: #f4f5fa;
    border: 1px solid #ffffff;

}
.detail h3{
    font-size: 24px;
    font-weight: bold;
    color: #1f8cd1;
}
.detail>p{
    width: 760px;
    color: #000000;
    font-size: 14px;
    padding: 20px 0;
}
.toupiao-area{
    width: 760px;
    border-top: 1px solid #b4b5b8;
    position: relative;
}
.toupiao-area p{
    color: #666666;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}
.toupiao-area p em{
    color: #1f8cd1;
}
.toupiao-area>h4{
    color: #1f8cd1;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    line-height: 38px;
    right: 30px;
    top: 30px;
}
.toupiao-area>em{
    font-size: 18px;
    position: absolute;
    top: 42px;
    right: 7px;
}
.toupiao{
    width: 132px;
    height: 35px;
    background-color: #1f8cd1;
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    display: block;
    text-align: center;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 84px;
}
/*个人中心*/
.geren>img{
    float: left;
}
.geren>h1{
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #1f8cd1;
}
.geren-cont{
    width: 796px;
    margin: 10px auto;
    padding: 26px 18px;
    background-color: #f4f5fa;
    border: 1px solid #ffffff;
}
.grzl{
    width: 621px;
    margin: 0 auto;
    position: relative;
}
.grzl p{
    color: #666666;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    margin-top: 18px;
    float: left;
    margin-right: 80px;
    margin-left: 37px;
}
.grzl p em{
    color: #1f8cd1;
}
.lapiao{
    width: 132px;
    height: 35px;
    background-color: #1f8cd1;
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 25px auto 0;
}
.grzl>em{
    color: #dc2323;
    font-size: 12px;
    position: absolute;
    right: 100px;
    bottom: 8px;
}
.gerenzuopin{
    margin-top: 60px;
    position: relative;
}
.grzp{
    position: relative;
}
.shangchuan{
    position: absolute;
    right: 1px;
    top: 0;
}
.geren-title{
    position: absolute;
    width: 80px;
    top: 10px;
    left: 30px;
}
.geren-title img{
    float: left;
}
.geren-title h3{
    font-size: 20px;
    line-height: 20px;
    color: #1f8cd1;
    font-weight: bold;
}
.pic-cont{
    width: 650px;
    margin-left: 100px;
}
.cont-container{
    width: 175px;
    height: 220px;
    margin-left: 40px;
    float: left;
    margin-top: 10px;
}
.img-container{
    width: 175px;
    height: 175px;
    position: relative;
    display: block;
    text-decoration: none;
}
.img-container img{
    width: 175px;
    height: 175px;
}
.img-container h6{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    height: 32px;
    background: url("../images/opacity.png") repeat;
    position: absolute;
    bottom: 0;
    width: 175px;
    left: 0;
    text-decoration: none;
}
.text-container{
    width: 175px;
    height: 45px;
    line-height: 45px;
    position: relative;
}
.text-container p{
    font-size: 14px;
    color: #333333;
    width: 120px;
    float: left;
}
.text-container p em{
    color: #ca0000;
}
.text-container a{
    width: 55px;
    height: 20px;
    background-color: #1f8cd1;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-top: 13px;
}
.hua-line{
    border-bottom: 1px solid #eff0f5;
    width: 100%;
    height: 0;
    margin: 20px 0;
}
/*活动首页*/
.content-sy{
    width: 850px;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
}
.sy-cont{
    position: relative;
    margin-top: 15px;
}
.sy-cont h2{
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    color: #1F8CD1;
}
.sy-cont .pst{
    color: #d1491f;
}
.sy-cont .sy-line{
    height: 0;
    width: 800px;
    position: absolute;
    border-top: 1px dashed #e8e9ee;
    top: 17px;
    left: 100px;
}
.sy-content-pst{
    width: 175px;
    height: 245px;
    float: left;
    margin-right: 50px;
}
.sy-content-pst img{
    width: 175px;
    height: 175px;
}
.sy-content-pst p{
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 25px;
}
.sy-content-pst p:nth-child(2){
    margin-top: 10px;
}
.pst-cont{
    width: 675px;
    /*height: 240px;*/
    margin: 20px auto;
}
.csz-cont{
    width: 100%;
}
.sy-content-csz{
    width: 175px;
    height: 260px;
    float: left;
    margin: 20px 37px 0 0;
}
.sy-content-csz a{
    width: 175px;
    height: 175px;
    position: relative;
    display: block;
}
.sy-content-csz a:hover .share-shadow{
    display: block;
}
.sy-content-csz a img{
    width: 175px;
    height: 175px;
}
.sy-content-csz p{
    color: #333333;
    font-size: 14px;
}
.sy-content-csz p:nth-child(2){
    margin-top: 10px;
}
.sy-content-csz p em{
    color: #dc2323;
}
.share-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    background: url("../images/opacity.png") repeat;
    left: 0;
    top: 0;
    display: none;
}
.csz-share a{
    color: #fff;
    font-size: 12px;
}
.csz-share{
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 10px;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000 none repeat scroll 0 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    top: 0;
    left: 0;
    z-index: 9999;
    min-width: 1280px;
}
.Tc-login,.Tc-tip{
    width: 523px;
    height: 324px;
    background: url("../images/tishi-bg.jpg") no-repeat 0 0;
    position: relative;


}
.closeBtn{
    position: absolute;
    height: 48px;
    width: 48px;
    top: 0;
    right: -48px;
    cursor: pointer;
    background: url("../images/closeBtn.png") no-repeat 0 0;
}
.Tc-login h1,.Tc-tip h1{
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 34px;
    padding-top: 30px;
}
.form-group-2{
    text-align: center;
    margin-top: 25px;
}
.form-group-2>label{
    font-size: 20px;
    color: #fff;
}
.input-control-1{
    height: 36px;
    width: 190px;
    border: 1px solid #267bb2;
    padding: 0 20px;
    line-height: 36px;
    font-size: 16px;
    outline: medium none;
    color: #999999;
}
.form-center {
    width: 170px;
    margin: 45px auto 0;
}
.f-pullright{
    position: absolute;
    right: 110px;
    bottom: 105px;
    color: #fff;
}
.pwd-forget{
    position: absolute;
    right: 103px;
    bottom: 42px;
    color: #fff;
}
.login-control{
    outline: medium none;
    border: medium none;
    background: url("../images/login.png") no-repeat 0 0;
    width: 170px;
    height: 44px;
}
.tip-cont {
    width: 365px;
    margin: 0 auto;
}
.tip-cont{
    color: #fff;
    font-size: 20px;
    margin-top: 60px;
}
.Tc{
    width: 523px;
    position: fixed;
    left: 50%;
    padding-bottom: 60px;
    z-index: 10000;
}
/*普通内页*/
.content-ny>h1{
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #1f8cd1;
    text-align: center;
}
.content-ny p{
    text-indent: 28px;
    color: #454545;
    font-size: 14px;
    line-height: 30px;
}
.content-ny p a{
    color: #f45500;
}
.content-ny h4{
    color: #1f8cd1;
    font-size: 18px;
    margin-top: 30px;
}
.content-ny img{
    margin: 10px auto;
    display: block;
}
.content-ny p:nth-child(2){
    margin-top: 30px;
}
/*列表*/
.title-cont{
    height: 50px;
    width: 100%;
    line-height: 50px;
}
.title-cont img{
    float: left;
    padding-top: 10px;
}
.title-cont h1{
    color: #1f8cd1;
    font-size: 30px;
    line-height: 50px;
    margin-left: 10px;
    float: left;
}
.search{
    height: 50px;
    width: 555px;
    background-color: #edeff5;
    float: left;
    margin-left: 72px;
}
.select-style{
    width: 115px;
    height: 24px;
    position: relative;
    float: left;
}
.select-style-1{
    margin: 13px 0 13px 16px;
}
.select-style-2{
    margin: 13px 0 13px 20px;
}
.select-style>span{
    width: 90px;
    height: 24px;
    color: #666666;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    line-height: 24px;
    display: block;

}
.ddl-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/select.png") no-repeat;
}
.select-style > select {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    left: 0;
}
.search input[type=text]{
    text-align: center;
    float: left;
    margin: 13px 0 13px 20px;
    height: 24px;
    line-height: 24px;
    width: 142px;
    border: 0;
    font-size: 14px;
}
.search input[type=submit]{
    text-align: center;
    float: left;
    margin: 13px 0 13px 20px;
    height: 24px;
    line-height: 24px;
    width: 94px;
    background-color: #1f8cd1;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}
.search-cont{
    width: 100%;
    margin-top: 60px;
}
.changpage{
    width: 570px;
    position: relative;
    margin: 60px auto;
    padding-bottom: 30px;
}
.changpage p{
    color: #666;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #eeeeee;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
/*文件上传*/
.content-sc{
    width: 886px;
    height: 846px;
    background: url("../images/submit-bg.jpg") no-repeat 0 0;
    margin: 60px auto 0;
    padding: 30px;
}
.content-sc>form>img{
    float: left;
}
.content-sc>form>h1{
    color: #1f8cd1;
    font-size: 30px;
    line-height: 30px;
    margin-left: 40px;
}
.sc-content-1{
    width: 480px;
    position: relative;
    margin: 30px auto;
}
.sc-content-1>label{
    font-size: 14px;
    margin: 13px 0 13px 20px;
    line-height: 24px;
    float: left;
}
.sc-content-1 input[type=text]{
    width: 145px;
    height: 24px;
    margin: 13px 0 13px 0;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    border: none;

    float: left;
}
.select-style-3{
    margin: 13px 0;
}
.sc-content-1>p{
    color: #d1491f;
    font-size: 14px;
    margin: 20px;
    text-align: center;
    clear: both;
}
.sc-content-2{
    width: 746px;
    margin: 30px auto;
    position: relative;
}
.sc-content-2>h6{
    font-size: 14px;
    float: left;
    line-height: 24px;
}
.sc-content-2>.select-style-4{
    width: 292px;
}
.sc-content-2>.select-style-4>span{
    width: 268px;
}
.sc-content-2>input[type=text]{
    font-size: 14px;
    text-indent: 14px;
    text-align: left;
    border: none;
    width: 282px;
    height: 24px;
    margin-left: 20px;
    float: left;
    line-height: 24px;
}
.sc-btn{
    width: 82px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    background-color: #1f8cd1;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}
.sc-content-2>input[type=file]{
    width: 82px;
    height: 24px;
    line-height: 24px;

    border: none;
    opacity: 0;
    filter:alpha(opacity:0);
    position: absolute;
    right: 0;
    top: 0;
}
.sc-preview{
    position: absolute;
    top: 45px;
    left: 0;
}
.sc-content-2> .sc-title{
    position: absolute;
    top: 45px;
    right: 0;
    width: 363px !important;
}
.pic-preview{
    display: block;
    position: absolute;
    top: 80px;
    width: 363px;
    height: 220px;
    left: 0;
}
.jianjie{
    position: absolute;
    top: 80px;
    width: 323px;
    height: 180px;
    right: 0;
    border: medium none;
    padding: 20px;
    font-size: 14px;
    resize: none;
}
.text-description{
    padding-top: 340px;
}
.text-description p {
    font-size: 14px;
    color: #666666;
    line-height: 25px;
}
.content-sc>form>input[type=submit]{
    width: 132px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    background-color: #1f8cd1;
    color: #FFF;
    margin: 30px auto;
    border: none;
    display: block;
    cursor: pointer;
}
.blur-text{
    color: #999999;
}